*{
    scroll-behavior: smooth;
}
body{
    margin: 0px;

}

nav{
    /* border: 2px solid salmon; */
    /* padding: 3vmax; */
    height: 4vmax;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.499);
    position: sticky;
    top: 0%;
    background-color: aliceblue;
    z-index: 1000;
}
.left{
    /* border: 2px solid red; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left > a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(237, 33, 33);
    font-size: 2vmax;

}
.mid{
    /* border: 2px solid rgb(209, 255, 3); */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}
.mid>a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5vmax;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid>a:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
}
.right{
    /* border: 2px solid rgb(8, 253, 20); */
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.right>img{
    width: 2.5vmax;
    margin: 1vmax;
    cursor: pointer;
}


.home{
    display: flex;
    /* border: 3px solid rgb(36, 233, 180); */
    height: 90vh;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255), rgb(90, 90, 230));
}
.container{
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(255, 130, 5); */
}
#right-c{
    display: flex;
    justify-content: flex-end;

}
#right-c>img{
    margin-right: 5vmax;
    filter: drop-shadow(0 0 20px black);
}
#left-c{
    display:flex;
    flex-direction: column;
    padding: 2vmax;
    box-sizing: border-box;
    justify-content: center;
    /* border: 1px solid red; */
}

  
#left-c > h1{
    font-size: 3.5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#left-c > h2{
    margin-top: -5%;
    font-size: 2vmax;
    font-family: sans-serif;
    margin-left: 3%;
}
    
#left-c > p{
    font-size: 1.32vmax;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
    margin-left: 3%;
}

.btn{
  
    border: none;
    border-radius: 20px;
    width: 12vmax;
    padding: 1vmax;
    margin-left: 3%;
    background-color: crimson;
    color: azure;
    font-size: medium

}
.btn>a{
    background-color: crimson;
    color: azure;
    font-size: medium
   
}
.btn:hover{
    border: 1.2px solid crimson;
    color:crimson;
    /* font-size:13px; */
    background-color: azure;
    transition: all 0.2 sec;
    cursor: pointer;
    /* transform: scale(1.05); */
}
/* ///////////////////////////////////////////=========== */

/* #products{
    height: 100vh;
    border: 2px solid green;
} */
#products>h1{
    text-align: center;
    margin: 5vmax auto;
    font-size: 2vmax;
    border-bottom: 5px solid red;
    width: 25vw;
    padding: 1vmax;
}
.itemcont{
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(89, 138, 138); */
    height: 100%;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
}
.item{
    /* border: 2px solid red; */
    /* width: 20vmax; */
    height: 30vmax;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 1vmax;
}
.item>img{
    /* border: 2px solid red; */
  
    width: 20vmax;
}
.item>h4{
    margin: 2%;
}
.item>h5{
    margin: 0px;
}
.item:hover{
    transform: translateY(-10px);
}
/* ////////---------////////////////////// */
footer{
    padding: 2vmax;
    /* height: 10vmax; */
    margin-top: 8vmax;
    background-color: rgb(40, 40, 40);
    color: aliceblue;
    display: flex;
    align-items: center;
}
.left-f{
    width: 20%;
    /* border:2px solid white; */
    height: 20vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-f>h4{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.left-f>p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left-f>img{
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.mid-f{
    width: 60%;
    height: 20vmax;
    text-align: center;
    /* border:2px solid white; */
}
.mid-f>h1{
    font-size: 4vmax;
    color: crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mid-f>p{
    width: 60%;
    margin: 1vmax auto;

}



.right-f{
    width: 20%;
    height: 20vmax;
    /* border:2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-f>h4{
    text-decoration: underline;
    font-size: 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right-f>a{
    text-decoration: none;
    margin: 0.5vmax;
    font-size: 1.4vmax;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

}




